dask[complete]
google-cloud-bigquery
google-cloud-storage
nltk
pandas
pdf2image
plotly_express
prefect
scikit-learn
seaborn
spacy
squarify
streamlit
streamlit-option-menu
unidecode
utils
wordcloud

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
#tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
#tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
#tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# API
fastapi         # API framework
gcsfs           # Google Cloud Storage
#pytz            # time zone management
uvicorn         # web server
# tests
# httpx           # HTTP client
# pytest-asyncio  # asynchronous I/O support for pytest
